*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html body {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
}
label {
  font-size: 1.5rem;
}
.displayedToppings {
  font-size: 1.2rem;
  position: relative;
  left: 0.5rem;
}
#orderButton {
  position: relative;
  top: 0.5rem;
  left: 1rem;
  width: 6rem;
}
p {
  font-size: 1.2rem;
}
.welcome-paragraph {
  text-align: center;
}

#grandTotal {
  position: absolute;

}
.priceDisplay {
  font-size: 1.2rem;
}
#orderNo, #sizeOfPizza, #crust, #toppingsChosen, #totalAmount {
  font-weight: 600;
}
